.md-list {
    flex: 1;
}

.md-helper-text {
    height: 20px;
    position: absolute;
    bottom: -22px;
    font-size: 12px;
}

.md-boards-simple {

    .md-boards-navigation {
        display: none;
    }

    .md-count {
        display: none;
    }
}