/* TODO: break everything up into individual files */
@import "./variables";
@import "./md-overrides";

// Gutter helper classes
@each $gutter, $value in $gutters {
    .mr-#{$gutter} {
        margin-right: $value;
    }
    .ml-#{$gutter} {
        margin-left: $value;
    }
    .mt-#{$gutter} {
        margin-top: $value;
    }
    .mb-#{$gutter} {
        margin-bottom: $value;
    }
    .pr-#{$gutter} {
        padding-right: $value;
    }
    .pl-#{$gutter} {
        padding-left: $value;
    }
    .pt-#{$gutter} {
        padding-top: $value;
    }
    .pb-#{$gutter} {
        padding-bottom: $value;
    }
}

@each $size, $value in $font-sizes {
    .font-size-#{$size} {
        font-size: $value;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}